@mixin custom-white-border($size) {
    border: $size solid var(--ion-color-black);
}

@mixin d-flex($justify-content){
    display: flex;
    align-items: center;
    justify-content: $justify-content;
}