.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.court {
    width: 5rem;
    height: 8rem;
    border-radius: 5%;
    border: 0.1rem solid var(--ion-color-white);
    opacity: 0.4;
}

.middle-line {
    position: absolute;
    background: var(--ion-color-white);
    width: 54%;
    height: 0.25rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.circle-middle-line {
    position: absolute;
    background: var(--ion-color-white);
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.selected {
    border: 0.4rem solid var(--ion-color-white);
    opacity: 1;
}