.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}

.court {
    width: 80%;
    height: 5rem;
    border-radius: 5%;
    border: 0.1rem solid var(--ion-color-white);
    opacity: 0.4;
}

.selected {
    border: 0.4rem solid var(--ion-color-white);
    opacity: 1;
}