<ion-content class="bg-theme-6 ion-padding">
  <p class="ion-text-center">{{'LANGUAGE_SELECT_TITLE' | translate}}</p>
    <ion-radio-group [(ngModel)]="languageSelected">
      <ion-item (click)="onSelectLanguage()" *ngFor="let language of languages" color="none">
        <ion-label>{{language.name}}</ion-label>
        <ion-radio [value]="language"></ion-radio>
      </ion-item>
    </ion-radio-group>
    <p class="ion-text-center ion-margin-top">{{'TERMS_MESSAGE' | translate}}</p>
    <div class="ion-text-center">
      <a href="https://www.google.com" target="_blank">{{'TERMS_LINK_TITLE' | translate}}</a>
    </div>
    <ion-button (click)="onAcceptTerms()" color="success" expand="block">{{'CONFIRM' | translate}}</ion-button>
  </ion-content>  