<ion-content class="bg-theme-6 ion-padding">
  <ion-item color="none" lines="none" class="ion-margin-top">
    <ion-label color="light" position="stacked">{{'LANGUAGE_SELECT_TITLE' | translate}}</ion-label>
    <ion-select class="select-white" [okText]="confirmText" [cancelText]="cancelText" [(ngModel)]="languageSelected" (ionChange)="onChangeLanguage()">
      <ion-select-option *ngFor="let language of languages" [value]="language">{{language.name}}</ion-select-option>
    </ion-select>
  </ion-item>
  <p class="ion-text-center ion-margin-top">{{'TERMS_MESSAGE' | translate}}</p>
  <div (click)="onOpenTerms()" class="ion-text-center">
    <ion-label color="primary" target="_blank">{{'TERMS_LINK_TITLE' | translate}}</ion-label>
  </div>
  <ion-button (click)="onAcceptTerms()" color="success" expand="block">{{'CONFIRM' | translate}}</ion-button>
  </ion-content>  