<ion-content class="ion-padding">
  <div (click)="onClose()" class="close-modal">
    <ion-icon size="large" name="close-circle-outline"></ion-icon>
  </div>
  <h3>Selecione uma cor para a quadra:</h3>
  <ion-grid>
    <ion-row >
      <ion-col class="ion-text-center" *ngFor="let fieldTheme of fieldThemes" size="6">
        <div (click)="onSelect(fieldTheme)" class="field" [ngClass]="{'selected': fieldTheme.color === fieldThemeSelected.color}"></div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>