@import "../../styles/_mixins.scss";

.player {
    position: absolute;
    width: 100vw;
    height: 100vh;
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    @include d-flex(center);
}


