.formation {
    background: white;
    border-radius: 5%;
}

.selected {
    background: blue;
}

.d-flex {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    span {
        margin-left: 1rem;
    }
}