@import "../../styles/_mixins.scss";

.formation {
    background: var(--ion-color-white);
    border-radius: 5%;
    opacity: 0.4;
}

.selected {
    @include custom-white-border(0.4rem);
    opacity: 1;
}

.rotate {
    transform: rotate(180deg);
}