<ion-content class="ion-padding">
  <div (click)="onClose()" class="close-modal">
    <ion-icon size="large" name="close-circle-outline"></ion-icon>
  </div>
  <h3>Selecione uma formação:</h3>
  <h6>Time A</h6>
  <ion-grid>
    <ion-row >
      <ion-col size="6" class="ion-text-center d-flex" *ngFor="let formation of formations" size="6">
        <img width="75px" class="formation" (click)="onSelect('a', formation)" [ngClass]="{'selected': formation.name === formationTeamA.name}" [src]="formation.imageUrl" />
        <span>{{formation.name}}</span>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="divider"></div>
  <h6>Time B</h6>
  <ion-grid>
    <ion-row>
      <ion-col size="6" class="ion-text-center d-flex" *ngFor="let formation of formations" size="6">
        <img width="75px" class="formation" (click)="onSelect('b', formation)" [ngClass]="{'selected': formation.name === formationTeamB.name}" [src]="formation.imageUrl" />
        <span>{{formation.name}}</span>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>