.formation {
    background: var(--ion-color-white);
    border-radius: 5%;
    opacity: 0.4;
}

.selected {
    border: 0.4rem solid var(--ion-color-white);
    opacity: 1;
}

.d-flex {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    span {
        margin-left: 1rem;
    }
}

.rotate {
    transform: rotate(180deg);
}