<ion-content class="bg-theme-6 ion-padding">
  <div (click)="onClose()" class="ion-text-end">
    Voltar
  </div>
  <h3 class="ion-text-center">Selecione uma cor para os times:</h3>
  <h6>Time A</h6>
  <div class="container">
    <div *ngFor="let playerTheme of playerThemes" (click)="onSelect('a', playerTheme)" [class]="playerTheme.cssClass" class="player" [ngClass]="{'selected': playerTheme.cssClass === playerThemeTeamA.cssClass}">
    </div>
  </div>
  <h6>Time B</h6>
  <div class="container">
      <div *ngFor="let playerTheme of playerThemes" (click)="onSelect('b', playerTheme)" [class]="playerTheme.cssClass" class="player" [ngClass]="{'selected': playerTheme.cssClass === playerThemeTeamB.cssClass}">
      </div>
  </div>
</ion-content>