<ion-content class="bg-theme-7 ion-padding">
  <app-back-modal></app-back-modal>
  <h3 class="ion-text-center">{{'PLAYER_THEME_TITLE' | translate}}</h3>
  <h6>{{'TEAM_A' | translate}}</h6>
  <div class="container">
    <div *ngFor="let playerTheme of playerThemes" (click)="onSelect('a', playerTheme)" [class]="playerTheme.cssClass" class="player" [ngClass]="{'selected': playerTheme.cssClass === playerThemeTeamA.cssClass}">
      <ion-icon name="shirt-outline" size="large"></ion-icon>
    </div>
  </div>
  <h6>{{'TEAM_B' | translate}}</h6>
  <div class="container">
      <div *ngFor="let playerTheme of playerThemes" (click)="onSelect('b', playerTheme)" [class]="playerTheme.cssClass" class="player" [ngClass]="{'selected': playerTheme.cssClass === playerThemeTeamB.cssClass}">
        <ion-icon name="shirt-outline" size="large"></ion-icon>
      </div>
  </div>
</ion-content>