/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@font-face {   
    font-family: 'Oswald-Regular';
    src: url('./assets/fonts/Oswald-Regular.ttf');
}

ion-content{ 
    font-family: 'Oswald-Regular' !important;
}

.bg-theme {
    &-1{
        --background: var(--ion-color-green);
        background: var(--ion-color-green);
    }
    &-2{
        --background: var(--ion-color-yellow);
        background: var(--ion-color-yellow);
    }
    &-3{
        --background: var(--ion-color-orange);
        background: var(--ion-color-orange);
    }
    &-4{
        --background: var(--ion-color-black);
        background: var(--ion-color-black);
    }
    &-5{
        --background: var(--ion-color-gray);
        background: var(--ion-color-gray);
    }
    &-6{
        --background: var(--ion-color-black);
        background: var(--ion-color-black);
    }
}

@mixin player-theme-border{
    border: 0.2rem solid var(--ion-color-white);
}

.player-theme {
    &-1 {
        background: var(--ion-color-green);
        @include player-theme-border;
    }
    &-2 {
        background: var(--ion-color-yellow);
        @include player-theme-border;
    }
    &-3 {
        background: var(--ion-color-orange);
        @include player-theme-border;
    }
    &-4 {
        background: var(--ion-color-black);
        @include player-theme-border;
    }
}